<!--The content below is only a placeholder and can be replaced.-->
<button (click)="getSimple()">Get Collection of 3000 Documents Simple Method</button>
<button (click)="getCol()">Get Collection of 3000 Documents</button>
<button (click)="getColWithIds()">Get Collection of 3000 Documents W/ Their Id's</button>
<button (click)="getDetailedCol()">Get Detailed Collection of 3000 Documents W/ Their Id's</button>
<button (click)="getDetailedColWithIds()">Get Detailed Collection of 3000 Documents W/ Their Id's</button>
<h3 *ngIf="running">Test Running</h3>
<h3 *ngIf="loaded && !running">{{count}} Items took {{time}}'s to load</h3>
